# Binarios y Temporales
avances_crud
*.tmp
*.log
*.zip
*.exe
*~
main

# IDEs y otros
.scannerwork/
.vscode
ejec.sh

# Variables de entorno
*.env
!*template*.env

# Swagger
swagger/**
!swagger/*.json
!swagger/*.yml
